@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Varela+Round&display=swap');

*{
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Crimson Text', 'Merriweather' serif;
}

#header{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(241, 232, 220);
  background-image: url('./Images/star3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height: 400px;
}

.about{
  
}

#pics{
  height: 12rem;
  width: 22rem;
}


/* ============== About Me======================= */

.abtSection{
  display: flex;
  height: 260px;
  width: 100%;
  background-image: linear-gradient(to bottom right,#2D232E,#474448);
  color:antiquewhite ;
  font-size: 1.2rem;
  
}

#abtPic{
  text-align: center;
  align-items: baseline;
  color: antiquewhite;
  height: 100%;
  width: 20%;
  border-right: rgb(96, 96, 155) solid 8px;
  background-image: url('./Images/pilotpat.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#abtp{
  width: 80%;
  padding:15px
}

#abtList{
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}





/* ===================Work========================= */

.workSection{
    display: flex;
  /* flex-direction: column; */
  
  background-image: linear-gradient(to bottom left,#474448,#2D232E);
  color:#eff3f5 ;
  height: 450px;
  font-size: 1.2rem;
 
}

#work{
  /* background-image: url('./Images/code.webp'); */
  background-image: url('./Images/code3.jpg');
  text-align: center;
  align-items: baseline;
  color: antiquewhite;
  height: 100%;
  width: 20%;
  border-right: rgb(96, 96, 155) solid 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#worklinks{
  width:80%;
}

.bigOne{
  height: 2rem;
  width: 2rem;
}

.row{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.boxes{
  display: flex;
flex-direction: column;
justify-content: space-between;
}

#firstRow{
  height: 310px;
}

.desc-container {
  width: 80%;
  padding: 15px;
}

.wrklinks{
  color: antiquewhite;
}


#project-section{

}
/* =====================contact========================= */

.contact{
  display: flex;
  /* flex-direction: column; */
  
  background-image: linear-gradient(to bottom right ,#2D232E,#474448);
  color:#eff3f5 ;
  height: 200px;
}

#contact{
  background-image: url('./Images/contact.jpg');
  text-align: center;
  align-items: baseline;
  color: rgb(31, 30, 28);
  height: 100%;
  width: 20%;
  border-right: rgb(96, 96, 155) solid 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contactLinks{
 display: flex;
 justify-content: space-around;
width: 100%;
}

#contactLinks{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.contactModal{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

/* .modal{
  background-color: #2D232E;
  color: antiquewhite;
} */

.modalBtn{
background-color: antiquewhite;
color: #2D232E;
}

.modalBtn:hover{
  box-shadow: 5px #eff3f5;
  background-color: #474448;
  color: antiquewhite;

}

.modalBtn::after{
  background-color: antiquewhite;
color: #2D232E;
}

#sendBtn


/* ======================================= */
.img-container {
  width: 20%;
  
}



.project-img {
  width: 250px;
  
}

#txt{
  line-height: 2rem;
}

/* ================NavTabs================== */

#nav-item{
  color: antiquewhite;
}

.nav-item:hover{
transition: 1ms;
}

.nav-item.active{
background-image: linear-gradient(#2D232E,#474448);
}

.active{
  background-color: #474448 !important;

}

/* ========Footer========== */

.footerSection{
  display: flex;
  background-image: linear-gradient(to bottom left,#474448,#2D232E);
  color:antiquewhite;
  height: 40px;
  font-size: 1.2rem;
}

.footerPic{
  text-align: center;
  align-items: baseline;
  color:#474448;
  height: 100%;
  width: 20%;
  border-right: rgb(96, 96, 155) solid 8px;
  background-image: url('./Images/code2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footLink{
  color: antiquewhite;
}




@media screen and (max-width:926px) {
  
  .abtSection{
    flex-direction: column;
    height: auto;
  }

  #abtPic{
    width:100%;
    height: 20%;
  }

  #abtp{
    width: 100%;
    
  }

  .workSection{
    flex-direction: column;
    height: auto;
    
  }

  #work{
    width:100%;
    height: 20%;
  }

  .wrklinks{
    flex-direction: column;
    height: auto;

  }

  .desc-container{
    width: 100%;
    flex-direction: column;
  }

  .contact{
    flex-direction: column;
    height: auto;
  }

  .footerSection{
    flex-direction: column;
    height: auto;
  }

  .contactLinks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}


@media screen and(max-width:777) {
  
}